:root {
  /* color */
  --color-black: #383c45;
  --color-white: #fff;
  --color-blue: #367cbf;
  --color-yellow: #fab524;
  --color-pink: #fd7578;
}

body {
  background-color: #383c45;
}
ul {
  list-style: none;
}

/* header start */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
header .logo,
header .menu button {
  transition: transform 300ms ease;
  cursor: pointer;
}
header .logo:hover {
  transform: scale(1.2);
}
header .menu {
  display: flex;
  margin-right: 70px;
  margin-bottom: 60px;
}
header .menu li {
  margin-left: 30px;
}
header .menu button img {
  width: 50px;
  height: 50px;
}
header .menu button {
  border: 0;
  outline: 0;
  background-color: var(--color-black);
  cursor: pointer;
  width: 66px;
  height: 56px;
  font-size: 19px;
  border-radius: 5px;
}
header .menu button:hover {
  transform: scale(1.2);
}
header .menu button.blue {
  background-color: var(--color-blue);
}
header .menu button.yellow {
  background-color: var(--color-yellow);
}
header .menu button.pink {
  background-color: var(--color-pink);
}
/* header end */

/* section-01 */
.section-01 .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 700px;
}
.section-01 .list li{
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  margin-bottom: -10px;
  width: 550px;
  margin-right: 25px;
  height: 60px;
  padding: 10px 10px;
  border-radius: 5px;
}
.section-01 .list li img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.section-01 .list li .text {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}
.invisible {
  visibility: hidden;
}